@media screen and (max-width:400px) {

    .main-container{
        width: 340px;
        margin-top: 100px;
        

    }

    .main-img{
        width: 340px;
        
    }

    .order{
        margin: 0 15px;
    }

    .bg-img{
        padding-left: 5px;
    }

    .price-plan{
        font-size: 14px;
    }

    .link1{
        margin-top: 18px;
        margin-right: 20px;
        font-size: 14px;
        align-items: center;
        justify-content: center;
    }




}
